@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Cairo:wght@200&family=Dosis:wght@200&family=Indie+Flower&family=Montserrat+Alternates:wght@100&family=MuseoModerno:wght@100&family=Rajdhani:wght@300&family=Silkscreen&display=swap');

:root {
    --color1: rgb(95, 149, 134);
    --color2: rgb(247, 255, 216);
    --color3: rgba(0, 0, 0, 0.3);
    --txtclr: black;
    --btnclr: rgba(255, 255, 255, 1);
    --color4: rgba(126, 96, 62, 1); /*navbar*/
    /* font-family: 'Baloo Thambi 2', cursive;
    font-family: 'Cairo', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'MuseoModerno', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Silkscreen', cursive; */
}

* {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    /* margin-left: 5%; */
    padding: 0%;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
}

.navBar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 4%;
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.upperNavBar {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.lowerNavBar {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.iconHolder {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

    box-shadow: -3px 4px 3px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.iconHolder:hover {
    transition: ease-in-out 0.5s;
    width: 38px;
    height: 38px;
    border: 2px solid var(--color2);
}

.mainContainer {
    width: 96%;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.aboutMe {
    scroll-snap-align: center;
    font-family: 'MuseoModerno', cursive;
    width: 100%;
    min-height: 100vh;
    display: flex;
    color: var(--color1);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-size: 10rem;
    border-bottom: 1px solid var(--color3);
}

.skills {
    scroll-snap-align: center;
    min-height: 100vh;
    padding: 3%;
    width: 94%;
    background-color: var(--color1);
    color: var(--color2);
    font-size: 10rem;

    border-bottom: 1px solid var(--color3);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.skillUpper {
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    letter-spacing: 5px;
    font-weight: bold;
    /* color: var(--txtclr); */
    text-align: center;

    border-bottom: 1px solid var(--color2);
}

.skillLower {
    height: 75%;
    width: 100%;
    border-radius: 10px;

    display: grid;
    gap: 40px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'sk1 sk1 sk2 sk3 sk4'
        'sk5 sk6 sk6 sk3 sk7';
}

.sk1,
.sk2,
.sk3,
.sk4,
.sk5,
.sk6,
.sk7 {
    transition: ease-in-out 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: var(--color4);
    background: var(--color2);
    box-shadow: -3px 4px 3px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
}

.sk1 p,
.sk2 p,
.sk3 p,
.sk4 p,
.sk5 p,
.sk6 p,
.sk7 p {
    position: absolute;
    width: 94%;
    height: 100%;
    padding-inline: 3%;

    color: var(--color2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    background-color: var(--color3);
    overflow-y: hidden;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    visibility: hidden;
    transform-origin: bottom;
    animation: flydown 0.8s ease-in-out;
    font-family: 'dosis', sans-serif;
}
.sk1:hover p,
.sk2:hover p,
.sk3:hover p,
.sk4:hover p,
.sk5:hover p,
.sk6:hover p,
.sk7:hover p {
    visibility: visible;
    transform-origin: bottom;
    animation: flyup 0.8s ease-in-out;
}

@keyframes flyup {
    0% {
        transform: scaleY(0%);
    }
    100% {
        transform: scaleY(100%);
    }
}

@keyframes flydown {
    0% {
        transform: scaleY(100%);
    }
    100% {
        transform: scaleY(0%);
    }
}
.sk1 {
    grid-area: sk1;
}
.sk2 {
    grid-area: sk2;
}

.sk3 {
    grid-area: sk3;
}

.sk4 {
    grid-area: sk4;
}

.sk5 {
    grid-area: sk5;
}

.sk6 {
    grid-area: sk6;
}

.project {
    scroll-snap-align: center;
    min-height: 100vh;
    padding: 3%;
    width: 94%;
    background-color: var(--color2);
    color: var(--color1);
    border-bottom: 1px solid var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.projectUpper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 5px;

    width: 80%;
    height: 15%;
    display: flex;
    border-bottom: 1px solid var(--color1);
}

.projectLower {
    height: 75%;
    width: 92%;
    font-weight: 400;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    /* border: 1px solid black; */
}

.projectLower::-webkit-scrollbar {
    display: none;
}

.projectHolder {
    scroll-snap-align: center;
    transition: ease-in-out 0.3s;
    height: 80%;
    min-width: 350px;
    max-width: 350px;
    margin: 20px;
    padding: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--color1);
    color: var(--color1);

    box-shadow: -3px 4px 3px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.projectHolder:hover {
    scale: 1.05;
    box-shadow: 0px 0px 15px var(--color1);
}

.projectHolderUpper {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 50%;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectHolderLower {
    border-radius: 0 0 10px 10px;
    border-radius: 10px;
    padding: 5%;
    width: 90%;
    height: 50%;

    font-family: 'Montserrat Alternates', sans-serif;
    /* font-family: 'MuseoModerno', cursive; */
    /* font-family: 'Rajdhani', sans-serif; */
    font-weight: bold;
    text-align: left;
    color: var(--color2);
    background-color: var(--color1);
}

.contact {
    scroll-snap-align: center;
    min-height: 100vh;
    padding: 3%;
    width: 94%;
    background-color: var(--color1);
    border-bottom: 1px solid var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contactUpper {
    height: 20%;
    width: 80%;
    border-bottom: 1px solid var(--color2);
    color: var(--color2);
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactLower {
    height: 65%;
    width: 96%;

    padding: 2%;
    display: flex;
    justify-content: space-evenly;
}

.contactLhs {
    width: 58%;
    border-radius: 10px;
    border: 5px solid var(--color2);
    /* font-family: 'Cairo', sans-serif; */
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.gmail,
.linkedin,
.github {
    width: 90%;
    height: 20%;

    background: var(--color3);
    border: 1 px solid transparent;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: var(--color2);
    font-size: 2rem;

    background: var(--color3);
    box-shadow: -3px 4px 3px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.gmail {
    background-color: rgb(219, 68, 55);
}

.linkedin {
    background-color: rgb(0, 114, 177);
}

.github {
    background-color: rgb(23, 21, 21);
}

.gmail:hover,
.linkedin:hover,
.github:hover {
    border: 0px solid var(--color2);
    box-shadow: 0px 0px 10px 0 var(--color2);
}

.contactRhs {
    width: 30%;
    border: 5px solid var(--color2);
    /* border-image: linear-gradient(
        to right,
        var(--color4),
        rgb(143, 123, 78),
        var(--color4),
        rgb(143, 123, 78),
        var(--color4)
    ); */
    border-image-slice: 1;
    background-image: url('./theone.jpg');
    background-size: cover;
    background-position: 0px 0px;
    border-radius: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1000px) {
    body {
        margin: 0%;
        /* margin-left: 5%; */
        padding: 0%;
        width: 100%;
        background-color: var(--color2);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Indie Flower', cursive;
    }

    .navBar {
        display: none;
    }

    .mainContainer {
        z-index: 0;
        width: 100%;
        padding: 0%;
        margin: 0%;
        display: flex;
        flex-direction: column;
    }

    .aboutMe {
        scroll-snap-align: start;
        font-family: 'MuseoModerno', cursive;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-weight: bold;
        font-size: 2.8rem;
        animation: randime 5s infinite;
    }

    @keyframes randime {
        0%,
        7% {
            transform: rotateZ(0);
        }
        15% {
            transform: rotateZ(-10deg);
        }
        20% {
            transform: rotateZ(10deg);
        }
        25% {
            transform: rotateZ(-10deg);
        }
        30% {
            transform: rotateY(6deg);
        }
        35% {
            transform: rotateY(-200deg);
        }
        50% {
            color: rgb(151, 220, 127);
        }
        60%,
        100% {
            transform: rotateZ(0);
        }
    }

    .skillUpper {
        font-size: 5rem;
    }

    .skillLower {
        /* padding: 5%; */
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        align-items: center;
    }

    .sk1,
    .sk2,
    .sk3,
    .sk4,
    .sk5,
    .sk6,
    .sk7 {
        scroll-snap-align: center;
        font-size: 8rem;
        min-width: 80%;
        min-height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projectUpper {
        font-size: 5rem;
    }
    .projectHolder {
        min-width: 90%;
    }
    .projectHolderUpper {
        font-size: 2rem;
    }
    .contactUpper {
        text-align: center;
        font-size: 3rem;
    }

    .contactLhs {
        width: 100%;
    }

    .contactRhs {
        display: none;
    }
    .gmail {
        font-size: 3rem;
    }

    .linkedin {
        font-size: 3em;
    }

    .github {
        font-size: 3rem;
    }
}
